# pandas读取数据

## dataframe的数据选择

In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
# 获取工作路径
os.getcwd()

'F:\\Study\\note\\1.笔记\\数据分析\\python数据分析'

In [5]:
# 修改工作路径
os.chdir(r'F:\Study\note\1.笔记\数据分析\python数据分析')

In [9]:
df = pd.read_excel(r'2014年各省市售电量.xlsx', endcoding='gbk')

In [11]:
df.dtypes

省市               object
地市               object
统计周期     datetime64[ns]
用电类别             object
当期值             float64
累计值             float64
同期值             float64
同期累计值           float64
月度计划值           float64
dtype: object

In [21]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.shape

(7423, 9)

In [13]:
# 有多少元素，等于行数乘列数
df.size

66807

In [14]:
df[:5]

,省市,地市,统计周期,用电类别,当期值,累计值,同期值,同期累计值,月度计划值
0,安徽,NaN,2014-01-01,大工业,44298.592143,44298.592143,52272.338729,52272.338729,57588.169786
1,安徽,NaN,2014-01-01,非居民,6283.597857,6283.597857,7414.645471,7414.645471,8168.677214
2,安徽,NaN,2014-01-01,非普工业,8159.322143,8159.322143,9628.000129,9628.000129,10607.118786
3,安徽,NaN,2014-01-01,汇总,76419.143571,76419.143571,90174.589414,90174.589414,99344.886643
4,安徽,NaN,2014-01-01,居民,16845.201429,16845.201429,19877.337686,19877.337686,21898.761857

In [22]:
df.省市

0       安徽
1       安徽
2       安徽
3       安徽
4       安徽
        ..
7418    重庆
7419    重庆
7420    重庆
7421    重庆
7422    重庆
Name: 省市, Length: 7423, dtype: object

In [20]:
type(df.省市)

pandas.core.series.Series

In [23]:
df['省市']

0       安徽
1       安徽
2       安徽
3       安徽
4       安徽
        ..
7418    重庆
7419    重庆
7420    重庆
7421    重庆
7422    重庆
Name: 省市, Length: 7423, dtype: object

In [24]:
type(df['省市'])

pandas.core.series.Series

In [28]:
df[['省市','地市']]

      省市    地市
0     安徽   NaN
1     安徽   NaN
2     安徽   NaN
3     安徽   NaN
4     安徽   NaN
...   ..   ...
7418  重庆  重庆市区
7419  重庆  重庆市区
7420  重庆  重庆市区
7421  重庆  重庆市区
7422  重庆  重庆市区

[7423 rows x 2 columns]

In [29]:
type(df[['省市','地市']])

pandas.core.frame.DataFrame

In [30]:
df[['省市','地市']][:10]

   省市   地市
0  安徽  NaN
1  安徽  NaN
2  安徽  NaN
3  安徽  NaN
4  安徽  NaN
5  安徽  NaN
6  安徽  NaN
7  安徽  NaN
8  北京   昌平
9  北京   昌平

## dataframe的loc和iloc

loc和iloc区别在于，loc是行标签使用数字，iloc为列上使用数字

In [32]:
df.loc[:,['省市','地市']]

      省市    地市
0     安徽   NaN
1     安徽   NaN
2     安徽   NaN
3     安徽   NaN
4     安徽   NaN
...   ..   ...
7418  重庆  重庆市区
7419  重庆  重庆市区
7420  重庆  重庆市区
7421  重庆  重庆市区
7422  重庆  重庆市区

[7423 rows x 2 columns]

In [33]:
df.loc[:3,['省市','地市']]

   省市   地市
0  安徽  NaN
1  安徽  NaN
2  安徽  NaN
3  安徽  NaN

In [34]:
df.loc[[3,28],['省市','地市']]

    省市   地市
3   安徽  NaN
28  北京   城区

In [37]:
df.loc[df['地市']=='重庆市区']

,省市,地市,统计周期,用电类别,当期值,累计值,同期值,同期累计值,月度计划值
7384,重庆,重庆市区,2014-01-01,大工业,1646.142857,1646.142857,1510.222805,1510.222805,1975.371429
7385,重庆,重庆市区,2014-02-01,大工业,3112.807857,4270.928571,2020.551479,4514.651521,5552.207143
7386,重庆,重庆市区,2014-03-01,大工业,3540.803571,6355.714286,2346.859964,6537.511486,8262.428571
7387,重庆,重庆市区,2014-04-01,大工业,3750.945714,8650.714286,4426.115943,17704.463771,11245.928571
7388,重庆,重庆市区,2014-05-01,大工业,3635.383571,10830.071429,4289.752614,21448.763071,14079.092857
7389,重庆,重庆市区,2014-06-01,大工业,3750.360000,13124.428571,2668.586429,8882.097914,17061.757143
7390,重庆,重庆市区,2014-01-01,电厂直供,2505.285714,2505.285714,2298.427261,2298.427261,3006.342857
7391,重庆,重庆市区,2014-01-01,趸售,1457.214286,1457.214286,1336.893840,1336.893840,1748.657143
7392,重庆,重庆市区,2014-02-01,非居民,1901.602143,1130.571429,722.291257,1354.063336,1469.742857
7393,重庆,重庆市区,2014-03-01,非居民,1867.420000,1542.000000,663.147221,1693.210557,2004.600000
7394,重庆,重庆市区,2014-04-01,非居民,1838.545000,1924.571429,2169.483100,8677.932400,2501.942857
7395,重庆,重庆市区,2014-05-01,非居民,1820.659286,2289.214286,2148.377957,10741.889786,2975.978571
7396,重庆,重庆市区,2014-06-01,非居民,1887.573571,2720.785714,810.914286,2180.124843,3537.021429
7397,重庆,重庆市区,2014-02-01,非普工业,2126.427143,815.428571,1026.273029,2076.353993,1060.057143
7398,重庆,重庆市区,2014-01-01,汇总,2051.071429,2051.071429,1881.716907,1881.716907,2461.285714
7399,重庆,重庆市区,2014-02-01,汇总,6732.173571,12177.428571,5431.142857,11909.857143,15830.657143
7400,重庆,重庆市区,2014-03-01,汇总,7187.097857,17908.500000,5354.285714,16940.142857,23281.050000
7401,重庆,重庆市区,2014-04-01,汇总,7358.605000,23811.142857,8683.153900,22513.571429,30954.485714
7402,重庆,重庆市区,2014-05-01,汇总,7005.028571,29360.142857,8265.933714,41329.668571,38168.185714
7403,重庆,重庆市区,2014-06-01,汇总,7473.976429,35378.142857,6605.785000,23221.927857,45991.585714
7404,重庆,重庆市区,2014-01-01,居民,1593.642857,1593.642857,1462.057667,1462.057667,1912.371429
7405,重庆,重庆市区,2014-02-01,居民,3090.143571,3476.857143,1843.313643,3593.483929,4519.914286
7406,重庆,重庆市区,2014-03-01,居民,3033.097857,5053.928571,1633.010686,4902.494614,6570.107143
7407,重庆,重庆市区,2014-04-01,居民,2896.995714,6494.928571,3418.454943,13673.819771,8443.407143
7408,重庆,重庆市区,2014-05-01,居民,2713.394286,7752.357143,3201.805257,16009.026286,10078.064286
7409,重庆,重庆市区,2014-06-01,居民,2769.764286,9066.071429,1709.362857,6287.857471,11785.892857
7410,重庆,重庆市区,2014-01-01,农业,1733.571429,1733.571429,1590.432503,1590.432503,2080.285714
7411,重庆,重庆市区,2014-02-01,农业,1457.248571,147.428571,324.871493,452.747564,191.657143
7412,重庆,重庆市区,2014-03-01,农业,1457.388571,148.857143,325.070471,453.818036,193.514286
7413,重庆,重庆市区,2014-04-01,农业,1457.597143,150.428571,1719.964629,6879.858514,195.557143
7414,重庆,重庆市区,2014-05-01,农业,1457.591429,152.000000,1719.957886,8599.789429,197.600000
7415,重庆,重庆市区,2014-06-01,农业,1457.660714,153.714286,325.853571,455.671607,199.828571
7416,重庆,重庆市区,2014-01-01,其他,5619.785714,5619.785714,5155.766710,5155.766710,6743.742857
7417,重庆,重庆市区,2014-01-01,商业,1909.285714,1909.285714,1751.638270,1751.638270,2291.142857
7418,重庆,重庆市区,2014-02-01,商业,2323.944286,2012.500000,1113.831793,2168.536407,2616.250000
7419,重庆,重庆市区,2014-03-01,商业,2260.532143,2817.000000,1007.335257,2851.871664,3662.100000
7420,重庆,重庆市区,2014-04-01,商业,2296.353571,3657.357143,2709.697214,10838.788857,4754.564286
7421,重庆,重庆市区,2014-05-01,商业,2310.835714,4512.214286,2726.786143,13633.930714,5865.878571
7422,重庆,重庆市区,2014-06-01,商业,2491.732143,5547.928571,1395.545000,3923.416664,7212.307143

In [39]:
df.columns

Index(['省市', '地市', '统计周期', '用电类别', '当期值', '累计值', '同期值', '同期累计值', '月度计划值'], dtype='object')

In [38]:
df.iloc[:,[3,7]]

      用电类别         同期累计值
0      大工业  52272.338729
1      非居民   7414.645471
2     非普工业   9628.000129
3       汇总  90174.589414
4       居民  19877.337686
...    ...           ...
7418    商业   2168.536407
7419    商业   2851.871664
7420    商业  10838.788857
7421    商业  13633.930714
7422    商业   3923.416664

[7423 rows x 2 columns]